body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    display: grid;
    grid-template-columns: repeat(7,50px);
    grid-template-rows: repeat(12,50px);
}
.childe{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.childe:nth-child(1){
    background-color: rgb(34, 32, 146);
    grid-column: 1;
    grid-row: 1/5;
}
.childe:nth-child(2){
    background-color: rgb(39, 178, 212);
    grid-column: 2/4;
}
.childe:nth-child(3){
    background-color: rgb(238, 255, 7);
    grid-column: 4/8;
}
.childe:nth-child(4){
    background-color: rgb(39, 178, 212);
    grid-row: 2/4;
    grid-column: 2;
}
.childe:nth-child(5){
    background-color: rgb(34, 32, 146);
    grid-row: 2;
    grid-column: 3/5;
}
.childe:nth-child(6){
    background-color: rgb(228, 22, 159);
    grid-row: 2;
    grid-column: 5/7;
}
.childe:nth-child(7){
    background-color: rgb(29, 228, 22);
    grid-row: 2;
    grid-column: 7;
}
.childe:nth-child(8){
    background-color: rgb(34, 32, 146);
    grid-row: 3/5;
    grid-column: 3;
}
.childe:nth-child(9){
    background-color: rgb(228, 22, 159);
    grid-row: 3;
    grid-column: 4/6;
}
.childe:nth-child(10){
    background-color: rgb(29, 228, 22);
    grid-row: 3;
    grid-column: 6/8;
}
.childe:nth-child(11){
    background-color: rgb(29, 228, 22);
    grid-row: 4/6;
    grid-column: 2;
}
.childe:nth-child(12){
    background-color: rgb(238, 255, 7);
    grid-row: 4/6;
    grid-column: 4/6;
}
.childe:nth-child(13){
    background-color: rgb(201, 121, 0);
    grid-row: 4/6;
    grid-column: 6;
}
.childe:nth-child(14){
    background-color: rgb(29, 228, 22);
    grid-row: 4;
    grid-column: 7;
}
.childe:nth-child(15){
    background-color: rgb(29, 228, 22);
    grid-row: 5/7;
    grid-column: 1;
}
.childe:nth-child(16){
    background-color: rgb(228, 22, 159);
    grid-row: 5/7;
    grid-column: 3;
}
.childe:nth-child(17){
    background-color: rgb(201, 121, 0);
    grid-row: 5/7;
    grid-column: 7;
}
.childe:nth-child(18){
    background-color: rgb(34, 32, 146);
    grid-row: 6/8;
    grid-column: 2;
}
.childe:nth-child(19){
    background-color: rgb(228, 22, 159);
    grid-row: 6;
    grid-column: 3/6;
}
.childe:nth-child(20){
    background-color: rgb(39, 178, 212);
    grid-row: 6;
    grid-column: 6;
}
.childe:nth-child(21){
    background-color: rgb(34, 32, 146);
    grid-row: 7/9;
    grid-column: 1;
}
.childe:nth-child(22){
    background-color: rgb(238, 255, 7);
    grid-row: 7;
    grid-column: 3;
}
.childe:nth-child(23){
    background-color: rgb(39, 178, 212);
    grid-row: 7;
    grid-column: 4/7;
}
.childe:nth-child(24){
    background-color: rgb(34, 32, 146);
    grid-row: 7/11;
    grid-column: 7;
}
.childe:nth-child(25){
    background-color: rgb(238, 255, 7);
    grid-row: 8;
    grid-column: 2/5;
}
.childe:nth-child(26){
    background-color: rgb(228, 22, 159);
    grid-row: 8/10;
    grid-column: 5/7;
}
.childe:nth-child(27){
    background-color: rgb(29, 228, 22);
    grid-row: 9/12;
    grid-column: 1;
}
.childe:nth-child(28){
    background-color: rgb(39, 178, 212);
    grid-row: 9;
    grid-column: 3/5;
}
.childe:nth-child(29){
    background-color: rgb(29, 228, 22);
    grid-row: 9;
    grid-column: 2;
}
.childe:nth-child(30){
    background-color: rgb(39, 178, 212);
    grid-row: 10;
    grid-column: 2/4;
}
.childe:nth-child(31){
    background-color: rgb(238, 255, 7);
    grid-row: 10;
    grid-column: 4/7;
}
.childe:nth-child(32){
    background-color: rgb(201, 121, 0);
    grid-row: 11;
    grid-column: 2;
}
.childe:nth-child(33){
    background-color: rgb(34, 32, 146);
    grid-row: 11;
    grid-column: 3/5;
}
.childe:nth-child(34){
    background-color: rgb(238, 255, 7);
    grid-row: 11;
    grid-column: 5;
}
.childe:nth-child(35){
    background-color: rgb(201, 121, 0);
    grid-row: 11/13;
    grid-column: 6/8;
}
.childe:nth-child(36){
    background-color: rgb(201, 121, 0);
    grid-row: 12;
    grid-column: 1/4;
}
.childe:nth-child(37){
    background-color: rgb(34, 32, 146);
    grid-row: 12;
    grid-column: 4/6;
}